{% load static %}
 <!-- JQUERY JS -->
 <script src="{% static 'assets//js/jquery.min.js' %}"></script>

 <!-- BOOTSTRAP JS -->
 <script src="{% static 'assets//plugins/bootstrap/js/popper.min.js' %}"></script>
 <script src="{% static 'assets//plugins/bootstrap/js/bootstrap.min.js' %}"></script>

 <!-- INPUT MASK JS-->
 <script src="{% static 'assets//plugins/input-mask/jquery.mask.min.js' %}"></script>

 <!-- TypeHead js -->
 <script src="{% static 'assets//plugins/bootstrap5-typehead/autocomplete.js' %}"></script>
 <script src="{% static 'assets//js/typehead.js' %}"></script>

 <!-- INTERNAL SELECT2 JS -->
 <script src="{% static 'assets//plugins/select2/select2.full.min.js' %}"></script>

 <!-- Perfect SCROLLBAR JS-->
 <script src="{% static 'assets//plugins/p-scroll/perfect-scrollbar.js' %}"></script>
 <script src="{% static 'assets//plugins/p-scroll/pscroll.js' %}"></script>
 <script src="{% static 'assets//plugins/p-scroll/pscroll-1.js' %}"></script>

<!-- Perfect SCROLLBAR JS-->
    <script src="{% static '/assets/plugins/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static '/assets/plugins/company-slider/slider.js' %}"></script>

 <!-- SIDE-MENU JS -->
 <script src="{% static 'assets/plugins/sidemenu/sidemenu.js' %}"></script>

 <!-- SIDEBAR JS -->
 <script src="{% static 'assets/plugins/sidebar/sidebar.js' %}"></script>
    <!-- SHOW PASSWORD JS -->
    <script src="{% static 'assets/js/show-password.min.js' %}"></script>
 <!-- Color Theme js -->
 <script src="{% static 'assets/js/themeColors.js' %}"></script>

 <!-- Sticky js -->
 <script src="{% static 'assets/js/sticky.js' %}"></script>
 <script src="{% static 'assets/js/select2.js' %}"></script>
    <!-- GENERATE OTP JS -->
    <script src="{% static 'assets/js/generate-otp.js' %}"></script>
 <!-- Star Rating Js-->
    <script src="{% static 'assets/plugins/rating/jquery-rate-picker.js' %}"></script>
    <script src="{% static 'assets/plugins/rating/rating-picker.js' %}"></script>

    <!-- Star Rating-1 Js-->
    <script src="{% static 'assets/plugins/ratings-2/jquery.star-rating.js' %}"></script>
    <script src="{% static 'assets/plugins/ratings-2/star-rating.js' %}"></script>

 <!-- CUSTOM JS -->
 <script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/landing.js' %}"></script>

 <!-- Custom-switcher -->
 <script src="{% static 'assets//js/custom-swicher.js' %}"></script>

 <!-- Switcher js -->
 <script src="{% static 'assets//switcher/js/switcher.js' %}"></script>

   <!-- COUNTERS JS-->
    <script src="{% static 'assets/plugins/counters/counterup.min.js' %}"></script>
    <script src="{% static 'assets/plugins/counters/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/plugins/counters/counters-1.js' %}"></script>